@model GetShredded.ViewModels.Output.Users.UserOutputModel
@{
    ViewData["Title"] = "UserDetails";
}
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <div class="text-center">
                <h3 class="card-title" style="color: orange">User Stories</h3>
            </div>
            <ul class="list-group text-center">
                @if (Model.UserDiaries.Any())
                {
                    foreach (var s in Model.UserDiaries)
                    {

                        <a asp-action="Details" asp-route-id="@s.Id" asp-controller="Diaries" class="list-group-item list-group-item-action list-group-item-dark">@s.Title</a>
                    }
                }
                else
                {
                    <li class="list-group-item text-dark">User don't have own stories!</li>
                }
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <div class="text-center">
                <h3 class="card-title" style="color: orange">Followed Stories</h3>
            </div>
            <ul class="list-group">
                @if (Model.UserDiaries.Any())
                {
                    foreach (var s in Model.FollowedDiaries)
                    {

                        <a asp-action="Details" asp-route-id="@s.Id" asp-controller="Diaries" class="list-group-item list-group-item-action list-group-item-info">@s.Title</a>
                    }
                }
                else
                {
                    <li class="list-group-item text-Dark">User don't follow any stories!</li>
                }
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <div class="text-center">
                <h3 class="card-title" style="color: orange">User Stories</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item ">Notification Count: @Model.Notifications.Count</li>
                <li class="list-group-item ">Messages count: @Model.MessagesCount</li>
                <li class="list-group-item ">Comments count: @Model.Comments</li>
            </ul>
        </div>
    </div>
</div>
@section scripts{
    @{ await Html.RenderPartialAsync("_MyScriptsPartial"); }
}
