@using System.Security.Claims
@inject IMessageService messageService
@inject INotificationService notificationService
@{
    int newMessages = 0;
    int newNotifications = 0;
}
@if (this.User.Identity.IsAuthenticated)
{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    newMessages = this.messageService.NewMessages(userId);
    newNotifications = this.notificationService.NewNotifications(this.User.Identity.Name);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] GetShredded</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="~/css/reset-css.css" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/tabs.css" />
</head>
<body>
    <div class="container-flex">
        <header>
            <nav class="navbar navbar-expand-md navbar-dark bg-warning justify-content-between w-100">
                <a class="navbar-brand text-dark" href="/">GetShredded</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon text-dark"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        @if (!this.User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" style="color: black" href="/">Home</a>
                            </li>
                            <li>
                                <a class="nav-link" style="color: black" asp-action="About" asp-area="" asp-controller="Home">About</a>
                            </li>
                        }
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" style="color: black" href="/">Training</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: black" href="/">Nutrition</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: black" href="/">Supplements</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: black" href="/">Interviews</a>
                            </li>
                        }
                        @if (this.User.Identity.IsAuthenticated && this.User.IsInRole(GlobalConstants.Admin))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span style="color: black">Administration</span>
                                </a>
                                <div class="dropdown-menu bg-warning" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item text-center" style="color: black" asp-controller="Admins" asp-action="AllUsers" asp-area="Administration">All Users</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-center" style="color: black" asp-controller="Admins" asp-action="AllDiaries" asp-area="Administration">All Diaries</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-center" style="color: black" asp-controller="Admins" asp-action="CurrentTypes" asp-area="Administration">Types</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    @if (!this.User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav ">
                            <li class="nav-item">
                                <a class="nav-link" style="color: black" asp-controller="Users" asp-action="Login" asp-area="">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: black" asp-controller="Users" asp-action="Register" asp-area="">Register</a>
                            </li>
                        </ul>
                    }
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span style="color: black">Hello, @User.Identity.Name!</span>
                                </a>
                                <div class="dropdown-menu bg-warning" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item text-center" style="color: black" asp-area="" asp-controller="Users" asp-action="Profile" asp-route-seeProfile="true" asp-route-username="@this.User.Identity.Name">My Profile</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-center" style="color: black" asp-action="Profile" asp-controller="Users" asp-route-id="@this.User.Identity.Name">My Diaries</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-center" style="color: black" asp-action="Information" asp-controller="Messages" asp-route-username="@this.User.Identity.Name">
                                        My Messages
                                        @if (newMessages > 0)
                                        {
                                            <span class="badge badge-danger">@newMessages</span>
                                        }
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-center" style="color: black" asp-action="Information" asp-controller="Messages" asp-route-username="@this.User.Identity.Name">
                                        My Notifications
                                        @if (newNotifications > 0)
                                        {
                                            <span class="badge badge-danger">@newNotifications</span>
                                        }
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-center" style="color: black" asp-action="FollowedDiaries" asp-controller="Diaries" asp-route-username="@this.User.Identity.Name">Followed Diaries</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-center" style="color: black" asp-action="AllDiaries" asp-controller="Diaries">All Diaries</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: black" asp-controller="Users" asp-action="Logout" asp-area="">Logout</a>
                            </li>
                        </ul>
                    }
                </div>
            </nav>
        </header>
        <div>
            @RenderBody()
        </div>
        <footer class=" text-center bg-warning container-fluid mx-auto" style="position: fixed; bottom: 0;right:0">
            <div>
                <p class="text-dark mx-auto pt-2">&copy; GetShredded 2019. All rights reserved. </p>
            </div>
        </footer>
    </div>
</body>
@RenderSection("scripts", required: false)
</html>